
<header>
  <div>
   <img src="./assets/logo.jpg" >
   </div>
   <div class="topic">
    Finance Business Blogs..
   </div>
</header>
<hr/>
<nav>
  <ul>
    <li><a href="#" target="_blank">Home</a></li>
    <li><a href="#" target="_blank">Stocks</a></li>
    <li><a href="#" target="_blank">Digital Marketing</a></li>
    <li><a href="#" target="_blank">Real Estate</a></li>
    <li><a href="#" target="_blank">CryptoCurrency</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
<footer>

</footer>